# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://xqwyvzrwmglgrmefjrlx.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_qhREnVE-ceS8ZBHwBUeE0A_rez4i7qQ

# Add other environment variables here as needed
