# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://xqwyvzrwmglgrmefjrlx.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_qhREnVE-ceS8ZBHwBUeE0A_rez4i7qQ
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inhxd3l2enJ3bWdsZ3JtZWZqcmx4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODMyNDE4NzQsImV4cCI6MjA5ODgxNzg3NH0.sBwwZ3HRpDER5Kn-cZaQBpCtR88YLCGhCwvs9DOGNo8

 CLOUDFLARE_API_TOKEN: ${{ SWjIiFLsYR28kDniJJyjxSbjyFYQ7Yg7uBZatDTTf0c80162 }}
      CLOUDFLARE_ACCOUNT_ID: ${{ 31ce2f0fca1676b9f8595c88fabd6e8a }}
